{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
	<div class="row">
		<div class="col-md-offset-4">

			<div class="row">
				<div class="col-md-6">
					<h1> Add new feadeback </h1>
				</div>
			</div>			
				
			<form action="/feadback/add" method="post">
				<div class="form-group">
					
					<div class="row">
						<div class="col-md-2">
							<label for="user_id">User Id: </label>
						</div>
						<div class="col-md-4">
							<input name="user_id" id="user_id" type="number" class="form-control" placeholder="User Id">
						</div>
					</div>

					<div class="row">
						<div class="col-md-2">
							<label for="post_id">Post Id: </label>
						</div>
						<div class="col-md-4">
							<input name="post_id" id="post_id" type="number" class="form-control" placeholder="Post Id">
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-2">
							<label for="body">Text: </label>
						</div>
						<div class="col-md-4">
							<input name="body" id="body" type="text" class="form-control" placeholder="Comment Text" >
						</div>
					</div>	

					<div class="row">
						<div class="col-md-2">
							<label for="created_at">Creation date: </label>
						</div>
						<div class="col-md-4">
							<input name="created_at" id="created_at" type="text" class="form-control" placeholder="Creation date" >
						</div>
					</div>
				</div>
				

				<div class="row">
					<div class="col-md-6">
						<input type="submit" class="btn btn-block btn-success" value="Add comment">
					</div>
				</div>
			</form>

		</div>
	</div>

</div>
{% endblock %}