<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>The Board</title>

        {% style "https://fonts.googleapis.com/css?family=Bree+Serif" %}
        {% style "/css/bootstrap.min.css" %}
        {% style "/css/style.css" %}
    </head>
    <body class="container">
        <div class="header row">
            <div class="col-md-10">
                <a class="logo" href="/">The Board</a>
            </div>
            <div class="col-md-2">
                {% if session.user_id %}
                    <span class="greeting">Hi, {{session.username}}</span>
                    <a class="btn btn-primary" href="/logout">quit</a>
                {% else %}
                    <a class="btn btn-primary" href="/login">log in</a>
                    <a class="btn btn-primary" href="/signup">sign up</a>
                {% endif %}
            </div>
        </div>

        <div class="container main">
          {% block content %}
          {% endblock %}
        </div>
    </body>
</html>
