{% extends "base.html" %}
{% block content %}
    <span class="error-message">{{not-auth}}</span>
    <div class="row">
        <div class="col-md-10">
        {% if session.user_id %}   
            <div class="admin-tab">
                <form class="form-inline" action="/query">
                     
                        <a href="/posts/add" style="margin-right: 150px;" class="btn btn-primary">add post</a>
                     

                     {% if session.admin %}   
                        <div class="form-group">
                            <input class="form-control" style="width:300px;" type="text" name="query">
                        </div>
                        <button type="submit" class="btn btn-primary">execute</button>
                    {% endif %}
                </form>
                     {% if session.admin %}   
                        <div class="users-messages">{{dsl-message}}</div>
                     {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    {% for item in posts %}
        <div class="post row">
            <div class="col-md-10">
                <h2><a href="/posts/{{item.id}}">{{item.title}}</a></h2>
                <span class="date">({{item.created_at}})</span>
                <h3>{{item.content}}</h3>
            </div>
            <div class="col-md-2">
                {% if session.admin %}
                  <a class="btn btn-success manage-button" href="/posts/{{item.id}}/edit">edit</a>
                  <a class="btn btn-danger manage-button" href="/posts/{{item.id}}/delete">delete</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}