{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
	<div class="row">
		<div class="col-md-offset-4">

			<form action="/category/add" method="post">
				<div class="form-group">
					
					<div class="row">
						<div class="col-md-2">
							<label for="c_name">Category Id: </label>
						</div>
						<div class="col-md-4">
							<input name="c_name" id="c_name" type="text" class="form-control" placeholder="Name">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<input type="submit" class="btn btn-block btn-success" value="Add category">
					</div>
				</div>
			</form>

		</div>
	</div>

</div>
{% endblock %}