{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-offset-4">

			<div class="row">
				<div class="col-md-6">
					<h1> {{category.c_name}}</h1>
				</div>
			</div>

			{% ifequal updated "true" %}
				<div class="row">
					<div class="col-md-6">
						<div class="alert alert-success" >
	  						<strong>{{category.c_name}}</strong> was updated!
						</div>
					</div>
				</div>
			{% endifequal %}
			
				
			<form action="/category/update" method="post">
				<div class="form-group">
					<input name="category_id" id="category_id" type="hidden" class="form-control" placeholder="Category Id" value="{{category.category_id}}">
					
					<div class="row">
						<div class="col-md-2">
							<label for="c_name">Name: </label>
						</div>
						<div class="col-md-4">
							<input name="c_name" id="c_name" type="text" class="form-control" placeholder="Name" value="{{category.c_name}}">
						</div>
					</div>	

				</div>
				

				<div class="row">
					<div class="col-md-6">
						<input type="submit" class="btn btn-block btn-success" value="Save">
					</div>
				</div>
			</form>

			<form action="/category/delete" method="post">
				<div class="row">
					<div class="col-md-6">
						<input type="hidden" name="category_id" value="{{category.category_id}}">
						<input type="submit" class="btn btn-block btn-danger" value="Delete">
					</div>
				</div>
			</form>

		</div>
	</div>

</div>
{% endblock %}