html {
	margin: 0;
    padding: 0;
}

body {

}

.header {
	text-align: center;
    padding: 15px 0;
    margin: 10px 0;
}

.admin-tab {
    padding: 10px;
    text-align: center;
}

.logo {
	text-decoration: none;
    font-size: 25px;
}

.main {
	width: 970px;
}

.greeting {
	padding: 10px;
    font-size: 15px;
}

.comments {
	padding: 15px;
    border-radius: 15px;
}

.error-message {
	padding: 10px;
    color: #a91919;
    font-size: 15px;
}

.date {
	color: gray;
    font-size: 10px;
    text-align: right;
}

.header h2 {
	margin: 0;
}

.header a {
	margin-right: 5px;
}

.post {
	padding: 15px 5px;
	margin-top: 10px;
}

.manage-button {
	display: block;
    color: black;
    background: gray;
    margin-bottom: 10px;
}